# Ignore VS Code workspace file
dotfiles.code-workspace

# Ignore common temp/editor files
*.swp
*.swo
.DS_Store
!config

# Ignore SSH keys (if you ever bring them in)
.ssh/*
!.ssh/config

# Optional: ignore Python cache
__pycache__/

# Leave out python envs
.virtualenvs
